<%= simple_form_for(restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, collection: Restaurant::VALID_CATEGORIES, include_blank: false %>
  <%= f.input :phone_number %>
  <%= f.submit class: 'btn btn-primary mt-2' %>
<% end %>
<p><%= link_to "Back to restaurant list", restaurants_path, class: 'btn btn-secondary mt-2' %></p>
